Package: aksw-bibsonomy-uploader
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: openjdk-8-jre-headless | openjdk-7-jre-headless | openjdk-6-jre-headless 
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: AKSW Bibsonomy upload tool
Distribution: ldstack-nightly
Homepage: https://github.com/GeoKnow/bibsonomy-uploader
Vcs-Git: git://github.com/AKSW/bibsonomy-uploader.git
Vcs-Browser: https://github.com/AKSW/bibsonomy-uploader
