.buildpath
.classpath
.project
.settings
target

cache

*.jar
*.toc
*.out
*.pdf
*.aux
*.log
*.bbl
*.blg
*.dsc
*.deb
*.build
*.changes
*.gz
*.substvars
*.swp

deptree.txt
dependency-tree.txt

trash
tmp

